{% extends 'base.html.twig' %}
{% block title "Bienvenue sur l\'agence" %}

{% block body%}
	<div class="jubotron text-center">
		<h1>Agence immobiliere BIENSAVENDRE</h1>
		<p>Elle recense tous les biens que vous cherchez.</p>
	</div>

	<div class="container">
		<h2>
			Nos offres les plus récentes:</h2>
		<div class="row flex">
			{% for property in properties %}
				<div class="col-md-3">
					{% include 'property/_property.html.twig' %}
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
