<div class="col-md-1">
	{{ form_row(form.nbid)}}
</div>
<div class="col-md-1">
	{{ form_row(form.isSold)}}
</div>
<div class="col-md-2">
	<a href="{{ path('admin.property.new') }}" class="btn btn-info" style="display: inline-block">Créer un nouveau bien</a>
</div>
